body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NavBar */
.tabs {
  width: auto;
  margin-left: auto;
  margin-right: -12;
  display: flex;
}

.burger {
  display: none;
}

@media screen and (max-width: 880px) {
  /* less than 880px, collapse navbar */
  .tabs {
    display: none;
  }
  .burger {
    width: auto;
    margin-left: auto;
    display: flex;
  }
}

@media screen and (max-width: 1030px) {
  .logo-and-name {
    display: none;
  }
}

.to-top-button {
  position: fixed;
  bottom: 50px;
  right: 100px;
  z-index: 999;
  /* left: calc(50% - 28px); */
}

/* Body Contents */
.main-div {
  padding: 30px;
  min-height: calc(100vh - 112px);
  width: 100vw;
}

.section {
  padding-top: 30px;
  min-height: 800px;
}

/* Home */
#home {
  width: 40%;
  color: white;
}

.home-column {
  padding: 100px 0 0;
  height: calc((100vw/1920) * 1080);
  /* height: 650px; */
  position: relative;
}

.splash {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
  background-position: top;
  margin: 0;
}

@media screen and (max-width: 865px) {
  .splash {
    background-image: url("/images/mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    background-position: bottom;
    margin: 0;
  }
  #home {
    width: 100vw;
    text-align: center;
  }
  .home-column {
    padding: 10% 0 0;
    height: calc((100vw/4538) * 7567);
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .splash {
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .2);
  }
}

/* Projects */
.projects {
  background-color: #eeeeee;
}

/* About */
.column {
  float: left;
  width: 50%;
  padding: 25px;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.row:after {
  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}

.avatar {
  border-radius: 50%;
  padding: 25px;
  max-width: 100%;
}

.about-wrapper {
  text-align: center;
}

/* Blog */
.stories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Contact */
.splash-footer {
  background-image: url("/images/just-bg-extended.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dev-icons {
  display: flex;
  justify-content: space-around;
}

.copyright {
  padding-bottom: 12px;
}
